<div fxLayoutAlign="center center" class="special-button-conatiner" >
        <div class="special-button-1"  fxLayoutAlign="center center"
        (click)="openBottomSheet()" >
                <button mat-icon-button >
                <i class="material-icons add-icon">add</i>
                
                </button>
        </div>
</div>

<div fxLayout="column" fxLayoutAlign="center " fxLayoutGap="5px" >


        
        
              
                        <!-- <mat-expansion-panel class="mat-expansion">
                                        
                                <mat-expansion-panel-header fxLayoutAlign="center center" class="mat-expansion-header">
                                                
                                                <mat-icon>equalizer</mat-icon>
                                                <span class="menu-text">Dashboard</span>
                                                
                                </mat-expansion-panel-header>
                                        
                               <mat-list>
                                       <mat-list-item>
                                                <div >
                                                <a [routerLink]="['/reporting']" routerLinkActive="router-link-active" >
                                                        <button mat-icon-button><mat-icon>dashboard</mat-icon></button>
                                                        <span class="menu-text">Reporting</span>
                                                        
                                                </a>
                                        </div>
                                         </mat-list-item>
                                
                                     </mat-list>
                                
                        </mat-expansion-panel>
                
        

         -->

        
<!-- <a [routerLink]="['/randum']" routerLinkActive="router-link-active" >
        <div class="nav-menu">
                        <button mat-icon-button><mat-icon>school</mat-icon></button>
                        <span class="menu-text">dummy calculator</span>
        </div>
</a> -->
<mat-list>
        <a [routerLink] = "['./document']" router-Link-Active = "router-Link-active">
        <mat-list-item>
                <mat-icon>subject</mat-icon>
                <span mat-line>Document</span>    
        </mat-list-item>
        </a>

        <a [routerLink] = "['./quilleditor']" >
                <mat-list-item>
                        <mat-icon>create</mat-icon>
                        <span mat-line>Editor</span>    
                </mat-list-item>
        </a>
        <a [routerLink] = "['./aboutquestionpaper']" >
                <mat-list-item>
                        <mat-icon>launch</mat-icon>
                        <span mat-line>Basic data</span>    
                </mat-list-item>
        </a>
        <a  [routerLink]="[ './question']">
                <mat-list-item>
                  <mat-icon>grain</mat-icon>
                  <span mat-line>show Question</span>
                </mat-list-item> 
        </a>
</mat-list>



<!-- <a [routerLink]="['/quilleditor']" routerLinkActive="router-link-active" >
        <div class="nav-menu">
                        <button mat-icon-button><mat-icon>subject</mat-icon></button>
                        <span class="menu-text">Quill Editor</span>
        </div>
</a> -->


        

       

</div>