<div fxLayoutAlign="center center" class="special-button-conatiner" >
        <div class="special-button-1"  fxLayoutAlign="center center"
        (click)="openBottomSheet()" >
                <button mat-icon-button >
                <i class="material-icons add-icon">add</i>  
                </button>
        </div>
</div>
<div fxLayout="column" fxLayoutAlign="center " fxLayoutGap="5px" >
<mat-list>
        <a [routerLink] = "['/document']" router-Link-Active="myactive">
        <mat-list-item routerLinkActive = "active">
                <mat-icon mat-list-icon>subject</mat-icon>
                <span mat-line>Document</span>    
        </mat-list-item>
        </a>

        <a [routerLink] = "['/quilleditor']" router-Link-Active="myactive" >
                <mat-list-item>
                        <mat-icon mat-list-icon>create</mat-icon>
                        <span mat-line>Editor</span>    
                </mat-list-item>
        </a>
        <a [routerLink] = "['/aboutquestionpaper']" router-Link-Active="myactive">
                <mat-list-item>
                        <mat-icon mat-list-icon>launch</mat-icon>
                        <span mat-line>Basic data</span>    
                </mat-list-item>
        </a>
        <a  [routerLink]="[ '/question']" routerLinkActive="myactive">
                <mat-list-item>
                  <mat-icon mat-list-icon>grain</mat-icon>
                  <span mat-line>show Question</span>
                </mat-list-item> 
        </a>
</mat-list>
</div>