.paragraph_primary{
    font: normal normal normal 54px/1.4em helveticaneuew01-75bold,helveticaneuew02-75bold,helveticaneuew10-75bold,sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 54px;
    line-height: 1.4em;
    font-family: helveticaneuew01-75bold, helveticaneuew02-75bold, helveticaneuew10-75bold, sans-serif;
    color: #000000;
}