<mat-toolbar class="position_sticky bg-white box_shadow_1" color="primary">
    <mat-toolbar-row>
        <div class="box_shadow_0 selection_form">
            
                <mat-select [(value)]="selected">
                    <mat-option value="Recents" selected class="text-success">Recents</mat-option>
                    <mat-option value="Paper Gallery"> <a [routerLink]="['./paper-gallery']">Paper Gallery</a>
                    </mat-option>
                    <mat-option value="Template Gallery"><a [routerLink]="['./template-gallery']">Template Gallery</a>
                    </mat-option>
                </mat-select>
           
        </div>

        <!-- <div>
<button mat-button type="button" class="group_button box_shadow_0"
        [matMenuTriggerFor]="groupButton" 
        color="primary">
        <mat-icon>keyboard_arrow_down</mat-icon>{{group.value}}</button>
            <mat-menu #groupButton="matMenu">
                <div class="pr-1 pl-1">
                   <mat-button-toggle-group #group="matButtonToggleGroup" value="Recents">
                <mat-button-toggle value="Recents" class="title ">
                    Recents
                </mat-button-toggle>
                <mat-button-toggle value="Paper" class="title " selected>
                    <a [routerLink]="['./paper-gallery']">Paper</a>
                </mat-button-toggle>
                <mat-button-toggle value="Templates" class="title ">
                    <a [routerLink]="['./template-gallery']">Templates</a>
                </mat-button-toggle>
                <mat-button-toggle value="All" class="title ">
                    All
                </mat-button-toggle>
            </mat-button-toggle-group>
            </div>
            </mat-menu>
            
        </div> -->
        <div class="mr-auto pp-2  title "></div>
        <!--spacer-->

        <div class="pl-1 pr-1 title">
            <button type="button" mat-icon-button matTooltip="view">
                <mat-icon>view_list</mat-icon>
            </button></div>
        <div class="pl-1 pr-1 title">
            <button type="button" mat-icon-button [matMenuTriggerFor]="sort" matTooltip="sort by">
                <mat-icon>sort_by_alpha</mat-icon>
            </button>
            <mat-menu #sort="matMenu">
                <button mat-menu-item>Date</button>
                <button mat-menu-item>Alphabet</button>
                <button mat-menu-item>Size</button>


            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<!-- recent document section -->
<section class="container">
    <div class="title "><strong>Recent
        Documents</strong></div>
        <div class="">
        <div class="row">
            <div class="col-md-3 p-4" *ngFor="let template of templates">
                <mat-card class="card mat_card ">
                    <img mat-card-image class="template_thumbnail"
                        (click)="onTemplateSelect(template.id,'paper-generation')" src="{{ template.thumbnail }}"
                        matTooltip="Click To Use This Template" matTooltipPosition="below">
                    <div class="card_action pt-1 pb-1">
                        <mat-toolbar>
                            <mat-toolbar-row>
                                <div style="max-width: 240px;overflow: hidden;">
                                    <small class="text-success">{{template.name}}</small>
                                </div>
                                <div class="example-spacer"></div>
                                <button mat-icon-button color="primary" 
                                    (click)="onTemplatePreview(template.id)">
                                    <mat-icon>fullscreen</mat-icon>
                                </button>
                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                    aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="onEditSelect(template.id,'edit')">
                                        <mat-icon mat-menu-icon>create</mat-icon>
                                        <span>Edit</span>
                                    </button>
                                    <button mat-menu-item (click)="onRenameSelect(template.id,template.name)">
                                        <mat-icon mat-menu-icon>text_fields</mat-icon>
                                        <span>Rename</span>
                                    </button>
                                    <button mat-menu-item (click)="onDeleteSelect(template.id,template.name)">
                                        <mat-icon mat-menu-icon>delete</mat-icon>
                                        <span>Delete</span>
                                    </button>
                                </mat-menu>
                            </mat-toolbar-row>
                        </mat-toolbar>
                    </div>

                </mat-card>
            </div>
        </div>
    </div>
    <a [routerLink]="['/quilleditor','new']" routerLinkActive="router-link-active">
        <div fxLayoutAlign="center center" class="fixed_button p-2 box_shadow_1 bg-light"
            matTooltip="Create New Template">
            <div class="special_btn special_btn_width " fxLayoutAlign="center center">
                <mat-icon>add</mat-icon>
            </div>
        </div>
    </a>
</section>
<router-outlet></router-outlet>