li,ol,ul,div,section{
    font-family: 'Open Sans', sans-serif !important;
}
section{
    padding: 2rem 0;
}
.center{
    position:absolute;
    top: 0px;
    left: 0;
    transform: translate(-50%,-50%); 

}
a{
    text-decoration: none!important;
}
/* div.selection_form mat-form-field ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0em!important;
  padding-left: 4px;
  font-size: small;
}
div.selection_form mat-form-field ::ng-deep div.mat-form-field-infix {
  border-top: 0!important;
  padding: 0!important;
  min-width: 100px;
  width: auto;
}
div.selection_form mat-form-field  {
  width:100%;
} */


mat-select{
  color: #222222;
}
button:focus{
    border: none !important;
    outline: none!important; 
}

.group_button{
    background: rgba(223, 225, 230, 0.103) !important;
    
}
.group_button:hover{
    background: rgb(223, 225, 230) !important;
    box-shadow: 0 0 1px .5px #00000025;
}
mat-button-toggle-group{
    
    height: 2.5rem!important;
}
::ng-deep div.mat-button-toggle-label-content {
    line-height: 36px!important;
 
}
.mat-menu-content:not(:empty) {
    width: 100vw;
    padding-top: 8px;
    padding-bottom: 8px;
}
button:active:focus,input:focus,a:focus{
    border: none !important;
    outline: none!important;
}
button.mat-icon-button:focus{
    border: none !important;
    outline: none!important; 
}
.new_template{
    width: 100%;
    min-width: 60vw;
    min-height: 5rem;
}
.mat_card{
    max-width: 300px;
    max-height: 30vh;
    padding-bottom: 1rem;
    overflow: hidden;   
}

.template_thumbnail{
    cursor: pointer;
}
.fixed_button{
    overflow: hidden;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 5;
    height: 2.5rem;
    max-width: 5rem;
    border-radius: 6rem;
}
.fixed_button:hover{
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25)!important;
}
.special_btn{
    position: relative;
    width: 100%;
    min-width: 3rem;
    height: 2.5rem;
    border-radius: 6rem;


}
.position_sticky{
    position: sticky;
    top: 0;
    z-index: 100;
}

.add{
    font-size:3rem;
    font-weight: bold;
}
.card_action{
    
    width: 100%;
    background: white;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.card_action mat-toolbar mat-toolbar-row{
  padding-right: 0px!important;
}
mat-card img{
    height: 30vh;
    overflow: hidden;
}
.example-spacer {
    flex: 1 1 auto;
  }
.card1{
width: 100%;
max-width: 133px;
min-width: 133px;
min-height: 179px;
max-height: 179px;
overflow: hidden;
background: #cccccc;
border-radius: 4px;
box-sizing: border-box;
}
.card1_image{
position: relative;
width: 100%;
border-radius: inherit;
}
.card1:hover
{
border: 1px solid #3ba7e6;
}

.card2{
width: 100%;

min-width: 200px;
min-height: 400px;
max-height: 400px;
overflow: hidden;
margin-bottom: 1rem;
box-sizing: border-box;
}
/* this used for padding for card 2 link and document name postioning */
.card2_body{
padding: .3rem 1rem!important;
}
.card2_image{
position: relative;
width: 100%;
border-radius: inherit;
}
.card2:hover
{
border: 1px solid #3ba7e6;
}

.title{
color: #222222;;
position: relative;
font-size:14px;
line-height: 80%;

}
.sub_title{
position: relative;
font-size:12px;
 color:#b6adad; 
}
.sub_menu{
display: block;
width: 100%;
position: relative;
}
div.document{
padding: 0px;
margin: 0px;
}
/* overriding bootstrap css */
.pp-2{
padding: 20px 20px 20px 30px !important;

}


/* loading document skeleton */

  
  /* .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  .skeleton_card{
     
    display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center; 
}
.skeleton_card{
    
}
.post {
  flex-direction: column;
  align-items: center; 
  display: flex;


    position: relative;
  width: 300px;
  height: 70vh;
  border-radius: 4px;
  
  /* animation: shine-lines 1.6s infinite linear; */
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(270deg, rgba(221, 221, 221, 0.096) 0px, #e8e8e81a 40px, rgba(221, 221, 221, 0.096) 80px);
}
.post:hover{
  cursor: progress;
}
.post .avatar {
 
  width: 52px;
  height: 52px;
  background-color: #ccc;
  border-radius: 25%;
  margin: 8px;
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
  background-size: 600px;
  animation: shine-avatar 1.6s infinite linear;
}
.post .btn {
 
  width: 12px;
  /* height: 12px; */
  background-color: #ccc;
  border-radius: 4px;
  margin: 8px;
  
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
 
  animation: shine-avatar 1.6s infinite linear;
}
.post .header {
 
  width: 80%;
  height: px;
  background-color: #ccc;
  border-radius: 4px;
  margin: 8px;
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);

  background-size: 600px;
  animation: shine-avatar 1.6s infinite linear;
}
.post .line {
  
  width: 100%;
  height: 12px;
  margin-top: 6px;
  border-radius: 7px;
  background-image: linear-gradient(90deg, rgba(221, 221, 221, 0.486) 0px, #e8e8e87e 40px, rgba(221, 221, 221, 0.486) 80px);
  background-size: 600px;
  animation: shine-lines 1.6s infinite linear;
}
.post .section{
  
  width: 20%;
  height: 16px;
  margin-top: 12px;
  border-radius: 7px;
  background-image: linear-gradient(90deg, rgba(221, 221, 221, 0.486) 0px, #e8e8e87e 40px, rgba(221, 221, 221, 0.486) 80px);

  background-size: 600px;
  animation: shine-lines 1.6s infinite linear;
}
 
.post .action{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 40px;
  background-color: white!important;
  /* margin-top: 12px; */
  /* border-radius: 7px; */
  background-image: linear-gradient(90deg, rgba(221, 221, 221, 0.486) 0px, #e8e8e87e 40px, rgba(221, 221, 221, 0.486) 80px);

  background-size: 600px;
  animation: shine-lines 1.6s infinite linear;
}


@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40% {
    background-position: 140px;
  }
  100% {
      background-position: 300px;
    }
}
@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
 
}
@keyframes loading {
  0% {
    background-position: 32px;
  }
  40%{
    background-position: 208px;
  }
  100% {
      background-position: 300px;
    }
}




