<section class="jumbotron">
    <!-- <div class="container d-flex justify-content-center padding_top_down">
        <div class="row">
        <div class="col-lg-12">
        <div class="">
        <a [routerLink]="['/quilleditor']" routerLinkActive="router-link-active">
            <div class="">
                    <button mat-raised-button color="primary" type="button" >Create New Template</button>
                </div>
            </a>
        </div>
        </div>
        </div>
    </div> -->
    <div class="container d-flex justify-content-center padding_top_down">
        <div class="col-lg-12">
            <a [routerLink]="['/quilleditor']" routerLinkActive="router-link-active">

                <div class="">
                    <div class="card box_shadow new_template text-center">

                        <img style="width:100px;" class="card-img-top"
                            src="https://ssl.gstatic.com/docs/templates/thumbnails/docs-blank-googlecolors.png"
                            class="card1_image">
                        <h1>Create New Template</h1>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container d-flex justify-content-center padding_top_down">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-start">
                    <a [routerLink]="['../tpg']">
                        <div class="">
                            <button mat-raised-button color="accent" type="button">Template Gallery
                            </button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-md-4 pb-5" *ngFor="let template of templates">
                <mat-card class="card mat_card text-center" style="width: 100%;" >
                    <img mat-card-image class="" (click)="onTemplateSelect()"
                        src="{{ template.thumbnail }}">
                       
                        <div class="card_action pt-1 pb-1">
                            <mat-toolbar>
                            <mat-toolbar-row>
                                <small class="text-muted">Sessional</small>
                        <div class="example-spacer"></div>
                                <button mat-icon-button color="primary" >
                                    <mat-icon aria-hidden="false" matTooltip="Preview">pageview</mat-icon>
                                </button>
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                  </button>
                                  <mat-menu #menu="matMenu">
                                      <button mat-menu-item>
                                        <mat-icon mat-menu-icon>create</mat-icon>
                                        <span>Edit</span>
                                      </button>
                                    <button mat-menu-item>
                                      <mat-icon mat-menu-icon>text_fields</mat-icon>
                                      <span>Rename</span>
                                    </button>
                                    <button mat-menu-item >
                                      <mat-icon mat-menu-icon>delete</mat-icon>
                                      <span>Delete</span>
                                    </button>
                                  </mat-menu>
                               
                              </mat-toolbar-row>
                            </mat-toolbar>
                            
                            
                       
                          
                        </div>
                
                </mat-card>
            </div>
           
        </div>
    </div>
</section>
<!-- recent document section -->
<!-- <section class="d-flex justify-content-center">
    <div class="row container d-flex justify-content-between ">
        <div class="row  sub_menu ">
            <div class="d-flex">
                <div class="mr-auto pp-2  title "><button type="button" class="btn btn-light btn-sm">Recent
                        Documents</button></div>
                <div class="pp-2 title"><button type="button" class="btn btn-light btn-sm">Owner
                        <i class="fa fa-angle-right"></i></button></div>
                <div class="pp-2 title"><button type="button" class="btn btn-light btn-sm">
                        <i class="material-icons">view_list</i></button></div>
                <div class="pp-2 title"><button type="button" class="btn btn-light btn-sm">
                        <i class="material-icons">
                            sort_by_alpha
                        </i>
                    </button></div>

            </div>
        </div>
        <div class="row container d-flex justify-content-between document">




            <div class="col-md-6">
                <mat-card class="card " style="width: 100%;">
                    <img class="card-img-top"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy-bR2BdDngGkckqwpuKPBqYNkuyaBxrEtDKbdnPfg_eR1-MsY_g&s"
                        alt="Card image cap">
                    <div class="card2_body">
                        <h5 class="title">Document Name</h5>
                        <div class="d-flex justify-content-between">
                            <a class="card-link">25 NOV 2019</a>
                            <a class="card-link"><i class="material-icons">more_vert</i></a>
                        </div>
                    </div>
                </mat-card>
            </div>

            <div class="col-md-6">
                <mat-card class="card " style="width: 100%;">
                    <img class="card-img-top"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy-bR2BdDngGkckqwpuKPBqYNkuyaBxrEtDKbdnPfg_eR1-MsY_g&s"
                        alt="Card image cap">
                    <div class="card2_body">
                        <h5 class="title">Document Name</h5>
                        <div class="d-flex justify-content-between">
                            <a href="#" class="card-link">25 NOV 2019</a>
                            <a href="#" class="card-link"><i class="material-icons">more_vert</i></a>
                        </div>
                    </div>
                </mat-card>
            </div>


        </div>
    </div>

</section> -->