<div class="container-fluid">
  <div class="row pt-5">
    <div class="col-md-4 offset-lg-4 padding_top_down ">
      <div class="card box_shadow_1">
       <div class="text-center padding_top_down">
        <h1 class="text-black">Login</h1>
       </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="padding-left-right">
         
            
              <mat-form-field appearance="outline" class="container">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Email " formControlName="email" required >
                <mat-error *ngIf="form.email.hasError('required')">Email Required</mat-error>
              </mat-form-field>
                 
              <mat-form-field appearance="outline" class="container">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'"
                  >
                <mat-error *ngIf="form.password.hasError('required')">Password Required</mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
         
          <div class="container d-flex justify-content-around">
            <button class="full_width" type="submit"   mat-raised-button color="primary" >Sign In
            </button>
          </div>
          <div class="container text-center padding_top_down">
            <small class="text-gray">OR</small>
          </div>
          <div class=" container justify-content-center">
            <a [routerLink]="['/signup']">
              <button class="full_width" mat-raised-button color="accent" >Sign Up</button>
              
            </a>
          </div>
          
          <div class="container text-center padding_top_down">
            <small class="text-black-50">By continuing, you agree to Terms of Service, Privacy Policy</small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- </section> -->