<div fxLayoutAlign="center center" class="special-button-conatiner" >
        <div class="special-button-1"  fxLayoutAlign="center center"
        (click)="openBottomSheet()" >
                <button mat-icon-button >
                <i class="material-icons add-icon text-primary">add</i>  
                </button>
        </div>
</div>
<div fxLayout="column" fxLayoutAlign="center " fxLayoutGap="5px" >
<mat-list>
        <a [routerLink] = "['/document']" router-Link-Active="myactive">
        <mat-list-item routerLinkActive = "active">
                <mat-icon mat-list-icon class="text-primary">subject</mat-icon>
                <span mat-line>Document</span>    
        </mat-list-item>
        </a>

        <a [routerLink] = "['/aboutquestionpaper']" router-Link-Active="myactive">
                <mat-list-item>
                        <mat-icon mat-list-icon class="text-primary">launch</mat-icon>
                        <span mat-line>General Instructions</span>    
                </mat-list-item>
        </a>
        <a  [routerLink]="[ '/question']" routerLinkActive="myactive">
                <mat-list-item>
                  <mat-icon mat-list-icon class="text-primary">grain</mat-icon>
                  <span mat-line>All Questions</span>
                </mat-list-item> 
        </a>
        <a  [routerLink]="[ '/uploadquestion']" routerLinkActive="myactive">
                <mat-list-item>
                  <mat-icon mat-list-icon class="text-info">cloud</mat-icon>
                  <span mat-line>Upload Questions</span>
                </mat-list-item> 
        </a>
</mat-list>
</div>