.mat-drawer-inner-container{

    /* background-color: #666666 !important; */
    background-color: hsl(214, 78%, 73%) !important;
    color:#ccc !important;
    /* box-shadow: 10px 10px 10px #fc0101; */
    overflow-y: scroll;


}


a{
    text-decoration: none !important;
    margin: 0;
    padding: 0;

}
mat-list-item:visited{
     
    border-right: solid #673ab7!important ;
    transition: .5s ;
    background: #ccc;
  box-shadow: 0 0 10px #00000017;
    color:  #673ab7;
  } 
.myactive{
    border-right: solid #673ab7!important ;
    transition: .5s ;
    background: #ccc;
  box-shadow: 0 0 10px #00000017;
    color:  #673ab7;
}
mat-list-item:hover{
    background: rgba(158, 181, 245, 0.466);
    color:#101111;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

mat-list-item:hover mat-icon{
    color:#00adff!important;
}






/* ------------------------------ */


/* mat-expansion pannel css-------- */
.mat-expansion{
    box-shadow: none;

}
.mat-expansion-header{
    /* padding: 0px 30px 0px 8px; */
}
/* --------------------- */


 
 /* upload button special button  */

.special-button-conatiner{
    
    margin: 1rem;
}
.special-button-1{
    position: relative;
    border-radius: 40px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
    width: 50%;
    height: 3rem;
}

.special-button-1:hover{

    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);


}
/* --------------------- */
button .add-icon{
    font-size: 2rem;
    font-weight: 900;
}