<app-navigation (sidenavToggle)="sidenav.toggle()"></app-navigation>
<mat-divider></mat-divider>
<mat-sidenav-container class="example-container">
  <mat-sidenav position="start" [mode]="isLargeScreen() ? 'side' : 'over'" #sidenav class="sidenav-full-open">
    <app-slidenav-list></app-slidenav-list>
    <div class="privacy-policy">
      <mat-divider></mat-divider>
      <span mat-line>Privacy Policy . Terms of service</span>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet>



      </router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>