<!-- <section class="editor_container" fxLayoutAlign="center">
    <div>
        <form (ngSubmit)="onSubmit()" #demoForm="ngForm">
            <ckeditor #editor [(ngModel)]="model.editorData" id="editorData" name="editorData">
            </ckeditor>
            <div class="d-flex justify-content-end editor_btn_container">
                <div class="editor_btn">
                <button  mat-raised-button color="accent" type="reset" (click)="reset()">Reset</button>
                </div>
                <button  mat-raised-button color="primary" type="submit">Save </button>
                <div class="editor_btn">

                </div>
            </div>
        </form>
        <textarea #preview
    (focus)="isPreviewActive = true; previewModel = model.editorData"
    (change)="isPreviewActive = false; model.editorData = previewModel"
    [(ngModel)]="previewModel">
</textarea>
<div id="styling">

</div>
    </div>
</section> -->
<div class="document-editor">
    <form (ngSubmit)="onSubmit()" #demoForm="ngForm">
<ckeditor [editor]="Editor" id="editorData" name="editorData"

          [(ngModel)]="model.editorData"  (ready)="onReady($event)" (change)="onChange($event)">
</ckeditor>
</form>

</div>
<div class="print_btn">
    <button mat-raised-button color="primary" (click)="exportAsPDF()">print</button>
</div>