<mat-sidenav-container class="example-container box_shadow_1" autosize>
  <mat-sidenav position="start" mode="side" #sidenav *ngIf="action == 'paper-generation'"
  [class.sidenav-full-open]="isOpen"
  [class.sidenav-half-open]="!isOpen"
  class="0-2 m-2 box_shadow_1" opened>
 <div class="pb-3 toggle_btn">
   <button mat-icon-button (click)="toggle()"class="" >
     <mat-icon *ngIf="isOpen">keyboard_backspace</mat-icon>
     <mat-icon *ngIf="!isOpen">trending_flat</mat-icon>

   </button>
 </div>
   <app-paper-info-detailed [id]="templateId"></app-paper-info-detailed>
  </mat-sidenav>
  <mat-sidenav-content>
   <div class="container">
    <form (ngSubmit)="onTemplateSubmit()" #demoForm="ngForm">
      <div class="document-editor">
          
      <ckeditor [editor]="Editor" id="editorData" name="editorData" tagName="bakwas"
                [(ngModel)]="model.editorData"  (ready)="onReady($event)" >
      </ckeditor>
      
      
      </div>
      
      </form>
   </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<div class="action_buttons ">
  <div class="p-2">
      <button  matTooltip="print" mat-mini-fab type="button" aria-label="" color="arn" (click)="exportAsPDF(templateName)">
        <mat-icon>print</mat-icon>
      </button>
  </div>
  <div class="p-2" *ngIf="action  != 'new' ">
      <button mat-mini-fab color="arn" (click)="onTemplateSubmit(template.id)" matTooltip="Update">
        <mat-icon>save</mat-icon>
      </button>
  </div>
  <div class="p-2">
    <button  mat-mini-fab color="arn" (click)="onTemplateSubmit()" matTooltip="save as new">
      <mat-icon>add_circle</mat-icon>
    </button>
</div>
  </div>
  