<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" style="position: absolute;top: 3rem;" mode="side" opened >
    <mat-tab-group >
      <mat-tab label="Automatic">
        <app-paper-info-detailed [id]="templateId" (refreshPaper)="refresh()"></app-paper-info-detailed>
      </mat-tab>
      <mat-tab label="Manual">
        <app-aboutquestionpaper></app-aboutquestionpaper>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer>
  <div class="container">
    <form (ngSubmit)="onTemplateSubmit()" #demoForm="ngForm">
      <div class="document-editor">
        <ckeditor [editor]="Editor" id="editorData" name="editorData" tagName="bakwas" [(ngModel)]="model.editorData"
          (ready)="onReady($event)">
        </ckeditor>
      </div>
    </form>
    <div class=" " style="position: absolute;left: -0.7rem; bottom:3rem;z-index: 10000;">
      <button type="button" mat-stroked-button (click)="drawer.toggle()" (click)="open =!open" class="rounded-pill" color="warn">
        <mat-icon *ngIf="open">chevron_left</mat-icon>
        <mat-icon *ngIf="!open">chevron_right</mat-icon>
      </button>
    </div>
  </div>

</mat-drawer-container>
<!-- <mat-drawer-container class="example-container box_shadow_1" autosize>
  <header class="d-flex justify-content-start">
    <button mat-button mat-dialog-close><mat-icon>arrow</mat-icon>Back</button>
    <div class="spacer"></div>
    
    </header>
  <mat-drawer #sidenav  mode="side"  *ngIf="action == 'paper-generation'"
  [class.sidenav-full-open]="isOpen"
  [class.sidenav-half-open]="!isOpen"
  class="0-2 m-2 box_shadow_1" opened>
 <div class="pb-3 toggle_btn">
   <button mat-icon-button  (click)="sidenav.toggle()"class="" >
     <mat-icon *ngIf="isOpen">keyboard_backspace</mat-icon>
     <mat-icon *ngIf="!isOpen">trending_flat</mat-icon>

   </button>
   <button mat-icon-button  (click)="sidenav.toggle()" style="position: absolute;z-index: 50000000;right: -3rem;" >
    <mat-icon *ngIf="isOpen">keyboard_backspace</mat-icon>
    <mat-icon *ngIf="!isOpen">trending_flat</mat-icon>

  </button>
 </div>
   <app-paper-info-detailed [id]="templateId" (refreshPaper)="refresh()"></app-paper-info-detailed>
  </mat-drawer>
  <mat-drawer-content>
  
   <div class="container">
    <button mat-icon-button  (click)="sidenav.toggle()" style="position: fixed;z-index: 50000000;right: 3rem;" >
      <mat-icon *ngIf="isOpen">keyboard_backspace</mat-icon>
      <mat-icon *ngIf="!isOpen">trending_flat</mat-icon>
  
    </button>
    <form (ngSubmit)="onTemplateSubmit()" #demoForm="ngForm">
      <div class="document-editor">
          
      <ckeditor [editor]="Editor" id="editorData" name="editorData" tagName="bakwas"
                [(ngModel)]="model.editorData"  (ready)="onReady($event)" >
      </ckeditor>
      
      
      </div>
      
      </form>
   </div>
  </mat-drawer-content>
</mat-drawer-container> -->


<div class="action_buttons ">
  <div class="p-2">
    <button matTooltip="refresh" mat-mini-fab type="button" aria-label="" color="warn" (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <div class="p-2">
    <button matTooltip="print" mat-mini-fab type="button" aria-label="" color="arn" (click)="exportAsPDF(templateName)">
      <mat-icon>print</mat-icon>
    </button>
  </div>
  <div class="p-2" *ngIf="action  != 'new' ">
    <button mat-mini-fab color="arn" (click)="onTemplateSubmit(template.id)" matTooltip="Update">
      <mat-icon>save</mat-icon>
    </button>
  </div>
  <div class="p-2">
    <button mat-mini-fab color="arn" (click)="onTemplateSubmit()" matTooltip="save as new">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
</div>