textarea{
    color:red;
    box-shadow: 4px 4px 4px blue;
}
.kolkov_editor angular-editor-textarea {
    box-sizing: content-box;
    height: 100%!important;
    width: 100%px!important;
    box-shadow: 0 4px 4px #ccc ;
}