<div class="container ">
    <div class="row">
        <div class="col-md-4 pb-5" *ngIf="isLoading">
        <div class="post box_shadow_1 p-2 ">
            <!-- <div class="avatar"></div> -->
            <div class="header"></div>
            <div class="section"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="section"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="section"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="action"></div>
        </div>
        </div>
        <div class="col-md-4 pb-5" *ngFor="let template of templates" >
            <mat-card class="card mat_card text-center" style="width: 100%;" >
                <img mat-card-image class="template_thumbnail" (click)="onTemplateSelect(template.id,'paper-generation')"
                    src="{{ template.thumbnail }}" 
                    matTooltip="Click To Use This Template"
                    matTooltipPosition="below">
                   
                    <div class="card_action pt-1 pb-1">
                        <mat-toolbar >
                        <mat-toolbar-row>
                            <div>
                            <small class="text-black-50">{{template.name}}</small>
                            
                            </div>

                    <div class="example-spacer"></div>
                            <button mat-icon-button color="primary" (click)="onTemplatePreview(template.id)">
                                <mat-icon aria-hidden="false" matTooltip="Preview">visibility</mat-icon>
                            </button>
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                  <button mat-menu-item (click)="onEditSelect(template.id,'edit')">
                                    <mat-icon mat-menu-icon>create</mat-icon>
                                    <span>Edit</span>
                                  </button>
                                <button mat-menu-item (click)="onRenameSelect(template.id)">
                                  <mat-icon mat-menu-icon>text_fields</mat-icon>
                                  <span>Rename</span>
                                </button>
                                <button mat-menu-item (click)="onDeleteSelect(template.id)">
                                  <mat-icon mat-menu-icon>delete</mat-icon>
                                  <span>Delete</span>
                                </button>
                              </mat-menu>
                           
                          </mat-toolbar-row>
                        </mat-toolbar>
                        
                        
                   
                      
                    </div>
            
            </mat-card>
        </div>
       
    </div>
</div>

       

