<!-- filtering field -->

<!-- <h6 class="text-success pl-5 pt-3">All Questions</h6> -->
<div *ngIf="isLoading" class="container">

  <div class="post  p-2">
    <div class="checkbox  "></div>
    <!-- <div class="line  pr-2 pl-2"></div> -->
    <div class="line pr-2 pl-2"></div>
    <div class="line pr-2 pl-2"></div>
    <div class="line pr-2 pl-2"></div>
    <div class="checkbox  "></div>
    <div class="checkbox  "></div>
    <div class="checkbox  "></div>
  </div>
  <div class="mt-5  d-flex justify-content-center" *ngIf="isLoading">
    <mat-spinner diameter="30"></mat-spinner>
    <small class="pl-2 pt-1">Loading...</small>
  </div>
</div>

<div class="pt-5 " *ngIf="!isLoading">
  <div class="position_sticky">
    <form [formGroup]="chipForm">

      <!-- <mat-toolbar class="bg-white box_shadow_1">
    <mat-toolbar-row>   
          <mat-form-field class="container" >
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="search...">
            <mat-icon matSuffix>filter_list</mat-icon>
          </mat-form-field>
    </mat-toolbar-row>

</mat-toolbar> -->

      <!-- <div class="d-flex single_row bg-white p-2 ">
        <mat-form-field class="container d-flex single_row" >
        <mat-chip-list [multiple]="true" selectable class="container">
          <mat-chip *ngFor="let i of displayedColumns" (click)="toggleChip(i)" [selected]="chips.has(i)">{{i}}
          </mat-chip>
        </mat-chip-list>
        </mat-form-field>
      </div> -->

    </form>
    <mat-toolbar class="bg-white mb-3 box_shadow_3 ">
      <mat-toolbar-row class="container">
        <!-- <div class="spacer"></div> -->
        <div class="filter_container box_shadow_4 pr-1 pl-2  ">
          <input type="search" (keyup)="applyFilter($event)" placeholder="search..">
          <button mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </div>
        

        <div class="spacer"></div>
        <!-- <mat-paginator class="paginator_sm"></mat-paginator> -->
        <div>
          <button mat-icon-button matTooltip="refresh" (click)="getPurchaseList()">
            <mat-icon [class.spin]="isPurchaseLoading" *ngIf="isPurchaseLoading">refresh</mat-icon>
            <mat-icon *ngIf="!isPurchaseLoading">refresh</mat-icon>
          </button>
        </div>
        <div class="pl-2">
          <button mat-button class="" color="" (click)="onAddPurchase('add',{})">
            <mat-icon>add_box</mat-icon>Add
          </button>
        </div>
      </mat-toolbar-row>
      
      <mat-toolbar-row [hidden]="selectedQuestionList.length == 0">
        
        <div class="px-2">
          <button mat-icon-button (click)="clearSelectedQuestion()">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
        <div class="px-2 d-flex">
          <b class="px-1">{{selectedQuestionList?selectedQuestionList.length:'0'}}</b>
          <b class="px-2 ">question select</b>
        </div>
        <div class="spacer"></div>
        <div class="px-2">
          <button mat-button [matMenuTriggerFor]="action">
            <mat-icon>more_vert</mat-icon>Action
          </button>
          <mat-menu #action="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="insert">Insert Into </button>
          </mat-menu>

          <mat-menu #insert ="matMenu">
            <button mat-menu-item>Section A</button>
            <button mat-menu-item>Section B</button>
            <button mat-menu-item>Section C</button>
          </mat-menu>
        </div>

      </mat-toolbar-row>
    
    </mat-toolbar>
    <!-- <mat-toolbar class="bg-white box_shadow_1" >
      <mat-toolbar-row>
        <div class="px-2"></div>
        <div class="px-2">
          <button mat-icon-button (click)="clearSelectedQuestion()">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
        <div class="px-2 d-flex">
          <b class="px-1">{{selectedQuestionList?selectedQuestionList.length:'0'}}</b>
          <b class="px-2">question select</b>
        </div>
        <div class="spacer"></div>
        <div class="px-2">
          <button mat-button [matMenuTriggerFor]="action">
            <mat-icon>more_vert</mat-icon>Action
          </button>
          <mat-menu #action="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="insert">Insert Into </button>
          </mat-menu>

          <mat-menu #insert ="matMenu">
            <button mat-menu-item>Section A</button>
            <button mat-menu-item>Section B</button>
            <button mat-menu-item>Section C</button>
          </mat-menu>

         
        </div>
      </mat-toolbar-row>
    </mat-toolbar> -->
  </div>
  <div class="position-sticky">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle(row) : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>


        </th>
        <td mat-cell *matCellDef="let row">
          <div class="d-flex justify-content-center checkbox">
            <mat-checkbox (click)="$event.stopPropagation()" class="text-primary" [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </div>
        </td>


      </ng-container>


      <ng-container matColumnDef="question">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-2 pr-2 text-danger"> Question</th>
        <td mat-cell *matCellDef="let element" class="pl-2 pr-2"> {{element.question}} </td>
      </ng-container>


      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-2 pr-2 text-danger"> Subject</th>
        <td mat-cell *matCellDef="let element" class="pl-2 pr-2"> {{element.subject?(element.subject | titlecase):'--'}}
        </td>
      </ng-container>


      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-2 pr-2 text-danger"> Unit </th>
        <td mat-cell *matCellDef="let element" class="pl-2 pr-2"> {{element.unit?(element.unit):'--'}} </td>
      </ng-container>


      <ng-container matColumnDef="topic">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-2 pr-2 text-danger"> Topic </th>
        <td mat-cell *matCellDef="let element" class="pl-2 pr-2"> {{element.topic}} </td>
      </ng-container>

      <ng-container matColumnDef="courseOutcome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-2 pr-2 text-danger"> Course Outcome </th>
        <td mat-cell *matCellDef="let element" class="pl-2 pr-2">
          {{element.courseOutcome?(element.courseOutcome | uppercase):'--'}} </td>
      </ng-container>

      <ng-container matColumnDef="difficultyLevel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-2 pr-2 text-danger"> difficulty Level </th>
        <td mat-cell *matCellDef="let element" class="pl-2 pr-2">
          {{element.difficultyLevel?(element.difficultyLevel | titlecase):'--'}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-2 pr-2 text-danger"> Type </th>
        <td mat-cell *matCellDef="let element" class="pl-2 pr-2"> {{element.type?(element.type):'--'}} </td>
      </ng-container>
      <ng-container matColumnDef="answerType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-2 pr-2 text-danger">Answer Type </th>
        <td mat-cell *matCellDef="let element" class="pl-2 pr-2"> {{element.answerType?(element.answerType):'--'}} </td>
      </ng-container>
      <ng-container matColumnDef="action" class="action_container">
        <th mat-header-cell *matHeaderCellDef class="pl-2 pr-2 text-warning">Action</th>
        <td mat-cell *matCellDef="let element" class="pl-2 pr-2" (click)="$event.stopPropagation()">
          <div class="action">
            <div class="d-flex justify-content-center">
              <button mat-icon-button matTooltip="Edit" (click)="openDialog('Update',element)">
                <mat-icon>create</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Delete" (click)="openDialog('delete',element.id)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button matTooltip="More">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></tr>
      <!-- <tr mat-header-row *matHeaderRowDef="['question']" class="example-second-header-row">
      </tr> -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedRow(row,'select')">

      </tr>
      <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
    </table>
  </div>

</div>
<!-- paginator -->