.table_container {
  min-height: 441px;
  max-height: 441px;
  overflow: auto;
}

table {
  
  width: 100%;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.25)!important;
}
.filter_field{
  position: relative;
  
  width: 100%;
  display: block;
  

  
  box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
  clear: both;
}
.filter_field:hover{
  box-shadow: 0px 4px 10px rgba(0,0,0,0.25)!important;
}
.example-spacer{
  flex: 1 1 auto;
}
table tr:hover .action{
  visibility: visible;
  
  }
  table tr:hover{

    box-shadow:0px 4px 10px rgba(0,0,0,0.25), inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15) !important;}
  .action_container{
    position: absolute;
    z-index: 5;
  }
  .action{
    
    /* position: absolute; */
    /* padding: 16px 0px; */
    /* max-height: 2rem!important; */
/* align-items: center; */
    visibility: hidden;
    /* right: 4rem; */
    /* top: 0; */
    
    /* background: white; */
  }
.action .action_on_hover:hover mat-icon{
  color: rgb(167, 10, 10)!important
  ;
  border: 2px solid black;
  
}
.action mat-icon:hover{
  color: black!important;
}
.paginator{
  position: fixed;
  width: 100%;
  bottom: 10px;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
        font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}
.mat-cell, .mat-footer-cell {
  font-size: 10px;
}