
.position_sticky{
  position: sticky;
  z-index: 5;
  top: 0rem;
}
.chip_scroll{
  width: 100vw;
  overflow: auto;
  /* overflow-y: auto; */
}

.table_container {
  min-height: 441px;
  max-height: 441px;
  overflow: auto;
}
mat-chip{
  min-width: 4rem;
}
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}

.horizontal-scroll-wrapper > div {
  display: block;
  padding: 5px;
  background: #cab;
 
}

.single_row{
  
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap !important;
  overflow-y: auto;
}
::ng-deep div.mat-chip-list-wrapper {
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap!important;
  
}

.squares > div {
  width: 250px;
  height: 250px;
  margin: 10px 0;
}

table {
  
  width: 100%;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.25)!important;
  overflow-y: auto;
}
table td, table th {
  border-top: none;
  border-left: none;
  border-right: none;
  
}

.filter_field{
  position: relative;
  
  width: 100%;
  display: block;
  

  
  box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
  clear: both;
}
.filter_field:hover{
  box-shadow: 0px 4px 10px rgba(0,0,0,0.25)!important;
}
.example-spacer{
  flex: 1 1 auto;
}
table tr:hover .action{
  visibility: visible;
  
  }
  table tr:hover{

    box-shadow:0px 4px 10px rgba(0,0,0,0.25), inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15) !important;}
  .action_container{
    position: absolute;
    z-index: 5;
  }
  .action{
    
    /* position: absolute; */
    /* padding: 16px 0px; */
    /* max-height: 2rem!important; */
/* align-items: center; */
    visibility: hidden;
    /* right: 4rem; */
    /* top: 0; */
    
    /* background: white; */
  }
.action .action_on_hover:hover mat-icon{
  color: rgb(167, 10, 10)!important
  ;
  /* border: 2px solid black; */
  
}
.action mat-icon:hover{
  color: black!important;
}
.paginator{
  position: fixed;
  width: 100%;
  bottom: 10px;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
        font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}
.mat-cell, .mat-footer-cell {
  font-size: 10px;
}


/* skeloton  */

.post {
  flex-direction: row;
  align-items: center; 
  display: flex;
    position: relative;
  width: 90vw;
  
  border-radius: 4px;
  
  /* animation: shine-lines 1.6s infinite linear; */
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(270deg, rgba(221, 221, 221, 0.096) 0px, #e8e8e81a 40px, rgba(221, 221, 221, 0.096) 80px);
}
.post .checkbox {
 
  min-width: 12px;
  height: 12px;
  margin-right: 12px;
  background-color: #ccc;
  border-radius: 4px;
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
  /* background-size: 600px; */
  animation: shine-checkbox 1.6s infinite linear;
}

.post .line {
  width: 100%;
  height: 12px;
  margin-right: 12px;
  border-radius: 4px;
  background-image: linear-gradient(90deg, rgba(221, 221, 221, 0.486) 0px, #e8e8e87e 40px, rgba(221, 221, 221, 0.486) 80px);
  /* background-size: 600px; */
  animation: shine-lines 1.6s infinite linear;
}

/* .post .checkbox + .line {
  
  width: 100px;
} */
/* .post .line ~ .line {
  background-color: #ddd;
} */

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40% {
    background-position: 140px;
  }
  100% {
      background-position: 300px;
    }
}
@keyframes shine-checkbox {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
 
}
@keyframes loading {
  0% {
    background-position: 32px;
  }
  40%{
    background-position: 208px;
  }
  100% {
      background-position: 300px;
    }
}