<!-- <section class="container padding_top_down">
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <div class="container padding_top_down mx-auto">

  <mat-step [stepControl]="firstFormGroup" >
    <form [formGroup]="firstFormGroup" (ngSubmit)="onDocumentNameSubmit()">
      <ng-template matStepLabel>Document Name</ng-template>

      <div class="row" >
        <div class="col-lg-12  p-5">
        <div class="mx-auto">
          <h1 class="">Document Name</h1>
          <mat-form-field class="container">
            <input matInput type="text" placeholder="Document Name " [(ngModel)]="value" formControlName="firstCtrl"
              required>
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div class="d-flex justify-content-center">
            
            <div class="p-1">
              <button color="primary" type="submit" mat-raised-button matStepperNext>Next</button>
            </div>
          </div>
          </div>
        </div>
      </div>

    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup" (ngSubmit)="onSessionSubmit()">
      <ng-template matStepLabel>Session</ng-template>
      <div class="row" >
        <div class="col-lg-12  p-5">
          <h1 class="">Session</h1>
          <mat-form-field class="container">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let session of sessions" [selectable]="selectable" [removable]="removable"
                (removed)="remove(session)">
                {{session.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input  formControlName="secondCtrl" required type="text"
                [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="p-1">
          <button color="accent" mat-raised-button matStepperPrevious>Back</button>
        </div>
        <div class="p-1">
          <button color="primary" type="submit" mat-raised-button matStepperNext>Next</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" >
    <form [formGroup]="thirdFormGroup" (ngSubmit)="onSubjectSubmit()">
      <ng-template matStepLabel>Subject</ng-template>
      <div class="row">
        <div class="col-lg-12  p-5">
          <h1 class="">Subject</h1>
          <mat-form-field class="container">
            <mat-label>Select a Subject</mat-label>
            <mat-select [(value)]="selectedSubject" name="subject" formControlName="thirdCtrl">
              <mat-option *ngFor="let subject of subjects" [value]="subject.value" required>{{subject.viewSubject}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <p>selected Subject : {{selectedSubject}}</p>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="p-1">
          <button color="accent" mat-raised-button matStepperPrevious>Back</button>
        </div>
        <div class="p-1">
          <button color="primary" type="submit" mat-raised-button matStepperNext>Next</button>
        </div>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="forthFormGroup">
    <form [formGroup]="forthFormGroup" (ngSubmit)="onTopicsSubmit()">
      <ng-template matStepLabel>Syllabus for {{selectedSubject}}</ng-template>

      <div class="row">
        <div class="col-lg-12 p-5">
          <h1 class="">Syllabus For</h1>
          <p class="secondary_paragraph">{{selectedSubject}}</p>
          <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
            <mat-tab label="Unit 1">
             <mat-form-field class="container">
            <mat-chip-list #chipUnit1>
              <mat-chip *ngFor="let i of topicsOfUnit1" [selectable]="selectable" [removable]="removable"
                (removed)="remove(session)">
                {{i}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input  formControlName="forthCtrl" required type="text"
                [matChipInputFor]="chipUnit1" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
              <mat-form-field class="container">
                <mat-chip-list #chipUnit1 [multiple]="true" selectable >
                  <mat-chip *ngFor="let i of topicsOfUnit1" (click)="toggleChip(i)" [selected]="chips.has(i)">{{i}}
                  </mat-chip>
                 <input 
                 formControlName="forthCtrl"
           [matChipInputFor]="chipUnit1"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
              </mat-form-field>
            </mat-tab>
            <mat-tab label="Unit 2">
              <mat-form-field class="container">
                <mat-chip-list [multiple]="true" selectable>
                  <mat-chip *ngFor="let i of topicsOfUnit2" (click)="toggleChip(i)" [selected]="chips.has(i)">{{i}}
                  </mat-chip>
                </mat-chip-list>
              </mat-form-field>
            </mat-tab>
            <mat-tab label="Unit 3">
              <mat-form-field class="container">
                <mat-chip-list [multiple]="true" selectable>
                  <mat-chip *ngFor="let i of topicsOfUnit3" (click)="toggleChip(i)" [selected]="chips.has(i)">{{i}}
                  </mat-chip>
                </mat-chip-list>
              </mat-form-field>
            </mat-tab>
            <mat-tab label="Unit 4">
              <mat-form-field class="container">
                <mat-chip-list [multiple]="true" selectable>
                  <mat-chip *ngFor="let i of topicsOfUnit4" (click)="toggleChip(i)" [selected]="chips.has(i)">{{i}}
                  </mat-chip>
                </mat-chip-list>
              </mat-form-field>
            </mat-tab>
            <mat-tab label="Unit 5">
              <mat-form-field class="container">
                <mat-chip-list [multiple]="true" selectable>
                  <mat-chip *ngFor="let i of topicsOfUnit5" (click)="toggleChip(i)" [selected]="chips.has(i)">{{i}}
                  </mat-chip>
                </mat-chip-list>
              </mat-form-field>
            </mat-tab>


          </mat-tab-group>

        </div>
      </div>


      <div class="d-flex justify-content-center">
        <div class="p-1">
          <button color="accent" mat-raised-button matStepperPrevious>Back</button>
        </div>
        <div class="p-1">
          <button color="primary" type="submit" mat-raised-button matStepperNext>Next</button>
        </div>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="difficultyLevelFormGroup">
    <form [formGroup]="difficultyLevelFormGroup">
      <ng-template matStepLabel>Difficulty Level</ng-template>
      <div class="row" >
        <div class="col-lg-12 p-5">
          <h1 class="">Difficulty Level</h1>
          <mat-form-field class="container">
            <mat-chip-list [multiple]="true" selectable>
              <mat-chip *ngFor="let i of DifficultyLevel" (click)="toggleChip(i)" [selected]="chips.has(i)">{{i}}
              </mat-chip>
            </mat-chip-list>
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="p-1">
          <button color="accent" mat-raised-button matStepperPrevious>Back</button>
        </div>
        <div class="p-1">
          <button color="primary" mat-raised-button matStepperNext>Next</button>
        </div>
      </div>
    </form>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button color="accent" mat-raised-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
  </div>
</mat-horizontal-stepper>
</section> -->
<section class="mb-4">
  <!-- <div class="col-lg-12  p-5">
    <h1 class="">Session</h1>
    <mat-form-field class="container">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let session of sessions" [selectable]="selectable" [removable]="removable"
          (removed)="remove(session)">
          {{session.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input  formControlName="secondCtrl" required type="text"
          [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
  </div> -->
  
 
    <div class="px-2">
      <small class="mat-caption">Subject</small>
      <mat-form-field class="w-100">
        <mat-chip-list [multiple]="true" selectable>
          <mat-chip *ngFor="let subject of subjects" (click)="toggleChip(subject)" [selected]="chips.has(subject)">{{subject.value}}
          </mat-chip>
        </mat-chip-list>
      </mat-form-field>
    </div>
    <div class="px-2">
      <small class="mat-caption">Unit</small>
      <mat-form-field class="w-100">
        <mat-chip-list [multiple]="true" selectable>
          <mat-chip *ngFor="let unit of units" (click)="toggleChip(i)" [selected]="chips.has(i)">{{i}}
          </mat-chip>
        </mat-chip-list>
      </mat-form-field>
    </div>
    <div class="px-2">
      <small class="mat-caption">Topic</small>
      <mat-form-field class="w-100">
        <mat-chip-list [multiple]="true" selectable>
          <mat-chip *ngFor="let i of DifficultyLevel" (click)="toggleChip(i)" [selected]="chips.has(i)">{{i}}
          </mat-chip>
        </mat-chip-list>
      </mat-form-field>
    </div>
    <div class="px-2">
      <small class="mat-caption">Course Outcome</small>
      <mat-form-field class="w-100">
        <mat-chip-list [multiple]="true" selectable>
          <mat-chip *ngFor="let i of DifficultyLevel" (click)="toggleChip(i)" [selected]="chips.has(i)">{{i}}
          </mat-chip>
        </mat-chip-list>
      </mat-form-field>
    </div>
    <div class="px-2">
      <small class="mat-caption">Answer Type</small>
      <mat-form-field class="w-100">
        <mat-chip-list [multiple]="true" selectable>
          <mat-chip *ngFor="let i of DifficultyLevel" (click)="toggleChip(i)" [selected]="chips.has(i)">{{i}}
          </mat-chip>
        </mat-chip-list>
      </mat-form-field>
    </div>
    <div class="px-2">
      <small class="mat-caption">Difficulty Level</small>
      <mat-form-field class="w-100">
        <mat-chip-list [multiple]="true" selectable>
          <mat-chip *ngFor="let i of DifficultyLevel" (click)="toggleChip(i)" [selected]="chips.has(i)">{{i}}
          </mat-chip>
        </mat-chip-list>
      </mat-form-field>
    </div>
 
</section>