<div class="container-fluid">
  <div class="row pt-5">
    <div class="col-md-4 offset-lg-4 offset-md-4">
<div class="card box_shadow_1">
  <div class="text-center padding_top_down">
    <h1 class="text-black">Sign Up</h1>
  </div>

  <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()" class="login-form" >
    <div >
      <mat-form-field appearance="outline" class="container">
        <mat-label>Full Name</mat-label>
        <input type="text" matInput placeholder="Full Name" formControlName="name">
          <mat-error *ngIf="f.password.hasError('required')">User Full Name Required</mat-error>
      </mat-form-field>
        <mat-form-field appearance="outline" class="container">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Example@gmail.com" formControlName="email" required>
          <mat-error *ngIf="f.email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="container">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'"
            required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="f.password.hasError('required')">Password Required</mat-error>
        </mat-form-field>
    </div>
      <div class="container d-flex justify-content-around">
        <button class="full_width" type="submit" mat-raised-button color="primary" >Sign Up
        </button>
      </div>
    </form>
      <div class="container text-center ">
        <small class="text-gray">OR</small>
      </div>
      <div class=" container justify-content-center">
        <a [routerLink]="['/login']">
          <button class="full_width" mat-raised-button color="accent" >Sign In</button>
          
        </a>
      </div>
      
      <div class="container text-center padding_top_down">
        <small class="text-black-50">By continuing, you agree to Terms of Service, Privacy Policy</small>
      </div>

</div>
</div>
</div>

</div>
<!-- </section> -->