<mat-nav-list fxLayout="column" fxLayoutAlign="center center" >
  <div fxLayout="row" fxLayoutAlign="center center">
       <p mat-line>Create new</p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
        
        <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
          <button mat-icon-button aria-label="">
            <mat-icon>cloud_upload</mat-icon>
          </button>
          
          <span mat-line> keep note</span>
          
        </a>
        <a [routerLink]="['./document']" routerLinkActive="router-link-active" mat-list-item (click)="openLink($event)">
         
            <mat-icon>description</mat-icon>
         
          <span mat-line>Generate question paper</span>
          
        </a>
        <a [routerLink]="['./uploadquestion']" routerLinkActive="router-link-active" mat-list-item (click)="openLink($event)">
         
          <mat-icon>description</mat-icon>
       
        <span mat-line>Upload new question </span>
        
      </a>
      
  </div>
</mat-nav-list>
      