<mat-nav-list >
  <div class="text-center">
       <h1 class="text-success">Create New</h1>
  </div>
  <div >
        <a [routerLink]="['./document']" (click)="closeSheet()" >
         <mat-list-item>
           <mat-icon mat-list-icon>description</mat-icon>
           <p mat-line>Generate question paper</p>
         </mat-list-item>
        </a>
        <a [routerLink]="['./uploadquestion']" (click)="closeSheet()" >
         <mat-list-item>
           <mat-icon mat-list-icon>description</mat-icon>
           <p mat-line>Upload new question </p>
         </mat-list-item>
      </a>  
  </div>
</mat-nav-list>