
<div class="d-flex justify-content-start m-auto p-5">
  <div class=" skeleton_card post box_shadow_1 p-2">
    <!-- <div class="avatar"></div> -->
    <div class="header"></div>
    <div class="section"></div>   
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="section"></div>   
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="section"></div>   
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="action"></div>
  </div>

  <div class=" skeleton_card post box_shadow_1 p-2">
    <!-- <div class="avatar"></div> -->
    <div class="header"></div>
    <div class="section"></div>   
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="section"></div>   
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="section"></div>   
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="action"></div>
  </div>

  <div class=" skeleton_card post box_shadow_1 p-2">
    <!-- <div class="avatar"></div> -->
    <div class="header"></div>
    <div class="section"></div>   
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="section"></div>   
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="section"></div>   
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="action"></div>
  </div>
</div>
